node_modules/
dist-electron/
dist/
dist/assets/
release/
/repo
navio-x.flatpak
/dist-electron
/dist-electron
/dist-web
dist-electron/main/index.js
dist-electron/main/index.js
navio-x@0.0.7
node
dist-electron/main/index.js
